{% extends "postbase.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <form method="post">{% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Save">
                    </form>
                    <p class="text-light">
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2 left" style="position: relative;">

            {% for post in object_list %}
            <div class="btn align-right" style="right:4px;
            position: absolute;
            z-index: 20;">
                <button class="btn btn-sm" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="/edit/{{post.id}}">Edit</a>
                    <a class="dropdown-item" href="/delete/{{post.id}}">delete</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text text-muted h6">{{ post.author.username }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.posts|slice:":300" }}</p>
                    <p class="card-text text-muted h6"> {{ post.post_like }} </p>
                    <a href="/likes/{{post.id}}"><button class="btn btn-success" >Like</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}